.imgPo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.imgPo h1 {
    font-size: 30px;
}
.imgPo img {
    /* max-width: 100%;
    height: auto; */
    /*border-radius: 10%;*/
    
    object-fit: cover;
}